// ============================= АККОРДЕОН

/* ================ общая обертка аккардеона */
.accordion__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:$color-main;
}

/* ================ стилизуем сам аккордеон */
.accordion {
  /* можно задать ему ширину (при свернутом)*/
  /* min-width: 190px; */
  /* можно задать ему ширину (при раскрытом)*/
  /* max-width: 500px; */
  width: 500px;
  /* надо добавить overflow: hidden , это св-во не позволяет картинке (или как здесь дочернему элементу) вылезать за пределы родительского блока (аккордеона). А дочерние элементы, в данном случае, это element-accordeona и zagolovok. И получается, что св-вом overflow: hidden обрезаем эти внутреннии (дочерние) элементы*/
  overflow: hidden;
  box-shadow: 0 0 12px 4px rgb(24, 181, 220, 0.5);
  border-radius: 25px;
  margin: 20px 0;
}

//  стилизуем элемент аккордеона = это то, что будет открываться
.accordion__elem {
  background-color: $color-active;
  color: $color-header;
  border-bottom: 3px solid $color-header;
}

// заголовок элемента аккордеона, который является его кнопкой открытия
.open-btn {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(8, 79, 97);
  color: $color-active;
  padding: 10px 40px 10px 20px;
  outline: none; /*убирается разделяющая линия (служебная) между заголовком и открывающимся элементом*/
  transition: 0.2s all;
}
.open-btn:hover {
  cursor: url(../ITlife_img/cursor.svg), auto;
  color: $color-header;
}

  /* ! убираем служебный треугольничек слево от summery = это делается  при помощи ::marker */
  .open-btn::marker{
     content: "";
  /* в данном примере происходит следующее == (ВСЕ, ЧТО ПСЕВДО, БЕЗ content: ""; не работает)  и такой записью у маркеров уменьшаем width = 0  */
  }

/* делаем стрелки после (after) заголовков */
.open-btn::after{
   display: block;
   content: "✪";
   position: absolute;
   right: 15px;
   top: 50%;
   font-size: 35px;
 
  /* и здесь, как обычно надо учитывать размер самого элемента и брать половину его высоты (как в данном случае) и на нее сдвигать. Сдвигать можно по-разному. Здесь еще один метод*/
  transform: translateY(-50%); /*т.е переместить элемент по Y вверх (потому что минус 50% ) на 50% размера элемента (стрелочки)*/
  /* добавим плавности для стрелочки */
  transition: .5s all;
}

/* добавляем работу стрелочки = вверх-открыта, вниз-закрыта секция. Смысл здесь такой = когда открывается элемент аккордеона, то к классу тега details добавляется состояние open и вот на этой базе сделаем код*/
/* в классе .accordion__elem обращаемся к состоянию open [open],затем дописываем класс стрелочки .open-btn::after и развернем ее в момент открытия (когда наступит open) на 180, но при этом надо сохранить translateY(-50%)*/
.accordion__elem[open] .open-btn::after {
  transform: translateY(-50%) rotate(180deg);
}

/* стилизуем выпадающее описание */
.text{
  padding: 20px;
  font-size: 22px;
}

// название
.accordion__title{
  font-size: 25px;
font-weight: bold;
padding: 20px;
}

// скрывающий класс
.hidden{
  display: none;
}




