// // задаем параментры всей оболочки сайта
// ограничим контент шапки(header) по ширине
.header__container {
  max-width: $main-container;
  margin: 0 auto;
  padding: $padding-main-container;
  background-color: #fff;
}
.header {
  // фиксируем чтобы всегда шапка оставалась на месте при скроле
  position: fixed;
  // расстягиваем на всю ширину
  width: 100%;
  // прибиваем к левому верхнему углу экрана
  top: 0;
  left: 0;
  // значительно поднимаем
  z-index: 50;
}
// плашка (плашка нужна для того, чтобы когда при адаптиве при нажатии на кнопку будет появляться адаптивное меню, то это меню будет от (под) плашкой, т е начинаться как бы от заголовка, а не от начала страницы браузера)
.header::before {
  content: "";
  position: absolute;
  // прибиваем к левому верхнему углу экрана
  top: 0;
  left: 0;
  // на весь размер шапки
  width: 100%;
  height: 100%;
  background-color: $color-header;
  //   достаем плашку поверх .header__menu которое появляется при медиазапросе @media(max-width:900px), а в .header__flex  z-index: 2 убираем
  z-index: 2;
}
// сама шапка = контент (картинка и ссылки)
.header__flex {
  position: relative;
  // показать (вытащить на верх) контентную часть шапки
  //   z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
// выстраиваем пункты навигации
.header__list {
  display: flex;
  position: relative;
  //   ОБЯЗАТЕЛЬНО надо поднять
  z-index: 2;
}
// кнопка collback в header
.header__collback {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: $main-text;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: 1px solid $main-text;
  text-transform: uppercase;
  background: transparent;
  z-index: 2;
  cursor: $cursor;
}
// поведение кнопки == шторки collback
.header__collback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #18b5dc;
  z-index: -1;
  transition: 0.5s;
  transform: scaleX(0);
}
.header__collback:hover::before {
  transform: scaleX(1);
}

// меняем цвет ссылки в кнопке collback
.header__link-collback {
  color: $main-text;
  cursor: $cursor;
}
// поведение кнопки collback при нажатии
.header__collback:active {
  position: relative;
  top: 2px;
}
// стилизуем ссылки
.header__link {
  color: $main-text;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.header__link:hover {
  color: $color-active;
  cursor: $cursor;
}
// делаем расстояние между ссылками
.header__list li {
  margin-left: 30px;
}
// когда кнопка .header__collback находится в списке меню .header__list, ее прячем, т к это отдельный элемент и относится к флексам header__flex, потом (при адаптиве) кнопку .header__collback показываем в .header__menu при его active. Это сделано для того чтобы показать кнопку в выпадающем меню (.header__menu), потому что иначе вставить ее нельзя, т к выпадающее меню сверстано так как будто header__list является целым флексом ВЛЮЧАЯ КНОПКУ, и если ее вывести из под флекса, то потом показать ее при адаптиве ресурсоемко
.header__list .header__collback {
  display: none;
}
.header__logo {
  //  в данном случае действительный размер логотипа указан при помощи св-ва flex (flex: flex-grow / flex-shrink / flex-basis ): Свойство flex-basis определяет основу флекса, которая является начальным размером элемента. Похоже на свойства width и height, к которым добавляется содержимое элемента
  flex: 0 0 170px;
  // поднимаем логотип над плашкой
  z-index: 3;
}
.header__logo img {
  // если картинка логотипа будет больше и она могла подстроиться под данный размер, запимшем
  max-width: 100%;
  display: block;
  cursor: $cursor;
}

// =======================================
// отодвигаем контент из под шапки
.content__container {
  padding-top: 100px;
}
// стили для контента сайта
.basic__content {
  color: $main-text;
  font-size: 25px;
}
.basic__content p {
  margin-bottom: 35px;
  line-height: 30px;
}

// скроем бургер бургер (закрывающий крестик-кнопка) ДО размера появления (900)
.header__burger {
  display: none;
}



// ADAPTIVE ==================================

@media (max-width: 900px) {
  // можно подкрасить header при адаптиве
//   .header::before {
//   background-color: #c2ecec;
// }
  // создаем и открываем бургер
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }
  // средняя полосочка
  .header__burger span {
    position: absolute;
    background-color: #d82424;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.01s ease;
  }
  // верхняя и нижняя полосочки
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #d82424;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.01s ease;
  }
  //  для верхней
  .header__burger::before {
    top: 0;
  }
  //  для нижней
  .header__burger::after {
    bottom: 0;
  }
  //при подключении класса active разворачиваем рисочки на 45
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  // среднюю рисочку убираем
  .header__burger.active span {
    transform: scale(0);
  }
  // адаптируем меню при ЭТОМ медиа = это то что будет показываться, когда все остальное скрыто
  .header__menu {
    position: fixed;
    //  делаем, чтобы меню выезжало сверху  top: -100%;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background-color: #75e6e6;
    // вытаскиваем из под плашки
    padding-top: 100px;
    // ! чтобы при горизонтальном позиционировании мобильного устройства была возможность скролить меню навигации, надо добавить
    overflow: auto;
  }
  //   возвращаем меню
  .header__menu.active {
    // position: relative;
    top: 0;
  }
  // когда кнопка .header__collback находится в списке меню .header__list, ее прячем, т к это отдельный элемент и относится к флексам header__flex, потом (при адаптиве) кнопку .header__collback показываем в .header__menu при его active. Это сделано для того чтобы показать кнопку в выпадающем меню (.header__menu), потому что иначе вставить ее нельзя, т к выпадающее меню сверстано так как будто header__list является целым флексом ВЛЮЧАЯ КНОПКУ, и если ее вывести из под флекса, то потом показать ее при адаптиве ресурсоемко
  .header__menu.active .header__collback {
    display: block;
    margin-left: 30px;
  }

  // при этом медиа уменьшаем размер шапки
  .header__flex {
    height: 50px;
  }
  // также в таком случае следует уменьшить логотип
  .header__logo {
    flex: 0 0 100px;
  }
  .header__list {
    // отключаем при медиазапросе display:flex
    display: block;
  }
  .header__list li {
    // делаем отступы вниз для пунктов навигации
    margin-bottom: 30px;
  }
  //   т к при медиазапросе уменьшилась шапка, то контент надо подвинуть немного вверх
  .content__container {
    padding-top: 70px;
  }
  // чтобы отменить скрол при открытом мобильном меню, надо
  .lock {
    overflow: hidden;
  }
  .header__collback {
    display: none;
  }
}
