// todo попап А.Дудукало на JS (на Logo)

// вся затемненная модальная область в которой будет окно
.logo__hidden-area {
  margin-top: 81px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(14, 171, 199, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow-y: auto; //  auto = Вертикальная полоса прокрутки добавляется только при необходимости.
  overflow-x: hidden; //скрываем
  visibility: hidden; //скрываем
  opacity: 0;
  transition: opacity 1.8s, visibility 1.8s;
}

// само модальное окно
.logo__modal-window {
  position: relative;
  max-width: 800px;
  padding: 35px;
  z-index: 5;
  background-color: rgb(3, 226, 255);
  border: 10px solid rgb(3, 51, 95);
  transform: scale(0); //уменьшаем окно == это способ анимации и он может быть другим
  transition: transform 1.6s; //анимируем свойство transform
}

// класс для открытия окна
.open {
  visibility: visible;
  opacity: 1;
}

// анимируем увеличивая окно
.logo__hidden-area.open .logo__modal-window {
   // ! важно === проверить на пробел перед классом .open нужен или нет !!!!!!!!!!!!!!!!!!!!!!!!
  // увеличиваем окно
  transform: scale(1);
}

// заголовок
.logo__zagolovok-for-modal-window {
  display: inline-block;
  max-width: 650px;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  color: transparent;
  background-image: url(https://media4.giphy.com/media/emdlFGZyqmmk723pal/giphy.gif?cid=ecf05e4799duulfo8urbcjcs4t5hrxvcpdzjfi8h9gi3jslo&ep=v1_gifs_related&rid=giphy.gif&ct=g);
  // !ВАЖНО = надо копировать ССЫЛКУ НА ИЗОБРАЖЕНИЕ
  background-clip: text;
  -webkit-background-clip: text;
  //  ! строка -webkit-background-clip: text; самая основная в этом блоке == без нее клип на тексте работать не будет
}

// кнопка закрытия окна
.logo__btn-for-close-modal-window {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  font-size: 50px;
  font-weight: 700;
  transform: rotate(90deg);
  color: $color-active;
}

// чтобы popup можно было закрыть в любом месте экрана растянем ссылку на весь экран и тогда ссылкой будет вся area
.logo__link-for-close-hidden-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// текст
.logo__content-modal-window {
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
}


// ADAPTIVE ==================================

@media (max-width: 769px){
.logo__hidden-area{
      height: 81%;
      margin-top: 51px;
   }
}
@media (max-width: 426px){
   .logo__hidden-area{
      height: 80%;
      margin-top: 51px;
   }
   .logo__modal-window{
      margin-top: 587px;
   }
}

@media (max-width: 376px){
     .logo__hidden-area{
      height:80%;
          margin-top: 51px;
   }
  .logo__modal-window{
      margin-top: 735px;
   }
}

@media (max-width: 321px){
.logo__hidden-area{
      height:156%;
   }
   .logo__modal-window{
     height:127%;
      margin-top: 311px;
   }
   .logo__zagolovok-for-modal-window{
        font-size: 45px;
   }
}