// ========== цвет
// активный цвет
$color-active:#18B5DC;
// основной цвет текста
$main-text:#3C3C3C;
// цвет текста имена
$color-names:#282528;
// цвет текста должности
$color-professions:#646464;
// цвет шапки и подвала
$color-header:#FFF;
// основной цвет
$color-main:#F6F6F6;
// цвет соцсетей
$color-network:#5DCBE6;

// ========== размер
// ширина основного контейнера
$main-container: 1200px;
// отступы основного контейнера
$padding-main-container:0 15px;

// ========== курсор
$cursor: url(../ITlife_img/cursor.svg), auto;






// ============================
// анимированая кнопка
// .talk {
//     position: relative;
//     display: inline-block;
//     padding: 10px 17px;
//     // color: white;
//     color: $main-color;
//     font-size: 20px;
//     line-height: 28.8px;
//     border-radius: 3px;
//     border: 2px solid $main-color;
//     background: transparent;
//     z-index: 1;
// }
// .talk::before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     // background: red;
//     // background: rgb(49, 3, 255);
//     background: #d35400;
//     z-index:-1;
//     transition: .8s;
//     // opacity: .3;
// }
// .talk::before{
//     transform: scaleX(1);
// }
// .talk:hover::before{
// transform: scaleX(0);
// }